#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

#Angular
dist
tmp
out-tsc
bin/
node_modules/
node/
target/

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
/typings

e2e/*.js
e2e/*.map

.DS_Store
Thumbs.db
*.iml
ui-src/
npm/
