

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Internal CSS-->
  <style>
    * {box-sizing: border-box;}
    
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #DEDEDE;
    }
  </style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Presidential Candidates</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" >Add Employee <span class="sr-only">(current)</span></a>
            <!-- (click)="onOpenModal(null, 'add')"-->
          </li>
       </ul>
       
    </div>
  </nav>

<body>
<!-- Presidential Candidate Cards-->
<br><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let president of presidents" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{president?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5 style="font-size: large;">{{president?.name}}</h5>
                        <p class="m-0">{{president?.partyList}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class=""></i><b>Laws Passed:</b> {{president?.lawsPassed}}</li>
                    <li class="list-group-item"><i class=""></i><b>Educational Background:</b> &nbsp; <br>{{president?.education}}<br></li>
                    <li class="list-group-item"><i class=""></i><b>Achievements / Recognitions</b> &nbsp; <br>{{president?.knownFor}}</li>
                </ul>
                
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(president, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(president, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <!-- Extra bullshit (buttons, etc.) -->
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- Add Candidate Card -->
        <div style="width: 20%; background-color:#999999; margin-left: 30px;" class="card m-b-30">
            <div class="card-body row">
                <div class="col-6">
                    <a href="" ><img src="asd" alt="" class="img-fluid rounded-circle w-60"></a>
                </div>
                <!--a class="nav-link" (click)="onOpenModal(null, 'add')">Add Employee</a> -->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color: #999999; border: none !important;"><div style="text-align: center;"><a class="nav-link" (click)="onOpenModal(null!, 'add')">Add Employee</a></div> </li>
                <!--<a href=""> <img src="https://i.ibb.co/nQKJvyK/output-onlinepngtools-2.png" width="50" height="50"/> </a> -->
            
            </ul>
            
            <div class="card-body">
                
                
            </div>
        </div>
    </div>
</div>
<br>

<!-- Modal(s)-->

    <!-- Add Modal -->
    <div class="modal fade" id="addPresidentModal" tabindex="-1" role="dialog" aria-labelledby="addPresidentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPresidentModalLabel">Add President</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- ngSubmit -->
                <form #addForm="ngForm" (ngSubmit)="onAddPresident(addForm)">
                <div class="form-group">
                <label for="name">Name</label>
                <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                <label for="partyList">Party List</label>
                <input type="email" ngModel name="partyList" class="form-control" id="partyList" placeholder="Party List" required>
                </div>
                <div class="form-group">
                <label for="lawsPassed">Laws Passed</label>
                <input type="text" ngModel name="lawsPassed" class="form-control" id="lawsPassed" placeholder="Laws Passed" required>
                </div>
                <div class="form-group">
                <label for="knownFor">Recognitions</label>
                <input type="text" ngModel name="knownFor" class="form-control" id="knownFor" placeholder="Recognitions" required>
                </div>
                <div class="form-group">
                    <label for="education">Educational Background</label>
                    <input type="text" ngModel name="education" class="form-control" id="education" placeholder="Educational Background" required>
                </div>
                <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
                </div>
                <div class="modal-footer">
                <button type="button" id="add-president-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
                </div>
                </form>
            </div>
        </div>
        </div>
        </div>


    <!-- Edit Modal-->
    <div class="modal fade" id="updatePresidentModal" tabindex="-1" role="dialog" aria-labelledby="presidentEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="updatePresidentModalLabel">Update Record {{editPresident?.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form #editForm="ngForm">
                     <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" ngModel="{{editPresident?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                     </div>
                     <input type="hidden" ngModel="{{editPresident?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                     <div class="form-group">
                        <label for="email">Party List</label>
                        <input type="email" ngModel="{{editPresident?.partyList}}" name="email" class="form-control" id="email" placeholder="Email">
                     </div>
                     <div class="form-group">
                        <label for="phone">Laws Passed</label>
                        <input type="text" ngModel="{{editPresident?.lawsPassed}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
                     </div>
                     <div class="form-group">
                        <label for="phone">Recognitions</label>
                        <input type="text" ngModel="{{editPresident?.knownFor}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                     </div>
                     <div class="form-group">
                        <label for="phone">Image URL</label>
                        <input type="text" ngModel="{{editPresident?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                     </div>
                     <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button (click)="onUpdatePresident(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
        </div>


  
    
    <!-- Delete Modal -->
    <div class="modal fade" id="deletePresidentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Delete Candidate</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove candidate {{deletePresident?.name}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button (click)="onDeletePresident(deletePresident?.id!)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</body>

